@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900);

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #d7d6d6;
}

.banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2)
      ),url('https://images.unsplash.com/photo-1710883727450-d3a0ab1bbbe3?q=80&w=2063&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 388px 0; /* Increased padding for more background space */
}

.banner h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 2px;
    border-radius: 5px;
    text-shadow: 2px 2px 4px #000;
    font-size: 45px;
    font-weight: 600;
}

.booking-form {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    position: absolute;
    bottom: 1px; /* Positioning the form near the end of the page */
    width: 98%;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 70%;
    
}

.form-group {
    flex: 1 1 200px;
    min-width: 200px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-size: 20px;
    background-color: #CC0000;
    color: white;
    border: none;
    cursor: pointer;
    flex: 1 1 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button:hover {
    background-color: darkred;
}

#uiEstimatedPrice {
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 1.2em;
    color: #333;
    line-height: 2px;
    height: auto; /* Allows the height to adjust */
    max-height: 0; /*Initial state to prevent taking space*/
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

#uiEstimatedPrice.show {
    max-height: 50px; /* Adjust to the height you expect */
}

@media only screen and (max-width: 612px){
    .banner h1{
        font-size:30px;
    }

    form{
        gap: 10px
    }
}